* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container__WeatherApp {
  width: 100%;
  animation: fadeIn 0.5s ease-in-out;
  background-image: url(../../assets/weather.jpg);
  background-size: cover;
  background-position: bottom;
  transition: background-image 0.5s ease-in-out;
}
.Cold {
  animation: fadeIn 0.5s ease-in-out;
  background-image: url(../../assets/cold-bg.jpg);
}

.Container__Main {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.8)
  );
}

.Input__WeatherApp {
  margin-top: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Container__Info {
  // align-items: center;
  .weather-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .City {
      font-size: 20px;
      font-style: italic;
      color: #fff;
    }
    .Date {
      font-size: 20px;
      font-style: italic;
      color: #fff;
      margin-bottom: 10px;
    }
    .Temp {
      font-size: 60px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 10px;
      padding: 10px 40px;
      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
    }
    .Des {
      font-size: 35px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 10px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
