.Menu__Port {
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
  .Menu__Port__Decoration {
    margin-top: 5px;
    width: 200px;
    height: 5px;
    border-radius: 10px;
    background-color: #0d96e0;
  }
}

// animation slideInFromLeft
