.menu__Port {
  .menu__Port__Todo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    // image cover
    background-size: cover;
    background-position: center;
    &:hover {
      //transition zoom
      transform: scale(1.1);
    }
  }
  .menu__Port__Weather {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    // image cover
    background-size: cover;
    background-position: center;
    &:hover {
      //transition zoom
      transform: scale(1.1);
    }
  }
}
